@font-face {
    font-family: "Pretendard Variable";
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url("https://cdn.nillpoe.xyz/fonts/PretendardVariable.woff2") format("woff2-variations");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 95%;
        --foreground: 0 0% 7%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 7%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 10%;

        --primary: 220 80% 55%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 88%;
        --secondary-foreground: 0 0% 0%;

        --muted: 0 0% 85%;
        --muted-foreground: 0 0% 40%;

        --accent: 0 0% 85%;
        --accent-foreground: 0 0% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --constructive: 136 54% 24%;
        --constructive-foreground: 210 40% 98%;

        --border: 0 0% 80%;
        --input: 0 0% 80%;
        --ring: 0 0% 80%;

        --navbar-background: 0 0% 100%;
        --sidebar-background: 0 0% 100%;
        --footer-background: 0 0% 100%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 9% 7%;
        --foreground: 0 0% 95%;

        --card: 240 9% 11%;
        --card-foreground: 0 0% 98%;

        --popover: 240 9% 11%;
        --popover-foreground: 0 0% 98%;

        --secondary: 0 0% 16%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 20%;
        --muted-foreground: 0 0% 75%;

        --accent: 240 9% 20%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 90 61%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 20%;
        --input: 0 0% 18%;
        --ring: 0 0% 85%;

        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;

        --navbar-background: 240 9% 9%;
        --sidebar-background: 240 9% 11%;
        --footer-background: 240 9% 9%;
    }
}

body {
    font-family: "Pretendard Variable", sans-serif;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #5a5a5a;
}

::selection {
    background: rgba(45, 170, 219, .3);
}